body {
  font-family: sans-serif;
  padding: 5vmin;
}

*, *::after, *::before {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
}

::selection {
  background-color: black;
  color: white;
}
